:root {
  --beige: rgb(245, 245, 220);
  --gray-text: rgb(40, 40, 40);
  --black: rgb(0, 0, 0);
  --opacity-gray: rgba(255, 255, 255, 0.7);
  --white: rgb(255, 255, 255);
  --caramel: rgb(198, 142, 23);
  --beans: rgb(255, 255, 255, 0.4);
  --light-brown: rgb(145, 58, 0);
  --brown: rgb(88, 28, 0);
  --blur: rgba(255, 255, 255, 0.103);
  --light-gray: rgb(220, 220, 220);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  padding-top: 150px;
}

@media (width < 450px) {
  body {
    padding-top: 100px;
  }
}

/* Section one */

.section-one {
  width: 100%;
  
  position: relative;
  padding: 3rem;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: url(../images/section-one-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.section-one::after {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: var(--blur);
  backdrop-filter: blur(10px);
}

.galery-heading {
  font-size: 35px;
  font-weight: 500;
  font-style: italic;
  color: var(--beige);
  z-index: 102;
}

.container {
  width: 900px;
  height: 600px;
  border: 10px solid var(--beige);
  z-index: 100;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  box-shadow: 3px 3px 22px 5px;
  border-bottom: 10px solid var(--beige);
  border-radius: 10px;
  gap: 0;
}

.wrapper {
  width: 100%;
  height: 480px;
  display: flex;
  flex-direction: row;
  animation: slide 50s infinite;
}

.galery-image {
  min-width: 100%;
  min-height: 100%;
}

.sign-holder {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--beige);
  gap: 2rem;
  padding-top: 5px;
}

.sign {
  height: 80%;
}

.slider-text {
  font-size: 30px;
  font-style: italic;
  font-weight: 300;
}

@media (width < 950px) {
  .container {
    width: 600px;
    height: 450px;
  }

  .wrapper {
    height: 360px;
  }

  .sign-holder {
    height: 70px;
    padding-top: 10px;
  }

  .slider-text {
    font-size: 20px;
  }
}

@media (width < 600px) {
  .section-one {
    padding: 3rem 1rem;
  }

  .container {
    width: 100%;
    height: 300px;
    border-bottom: 0;
  }

  .wrapper {
    height: 250px;
    flex-direction: column;
    animation: slide-vertical 50s infinite;
  }

  .sign-holder {
    height: 40px;
    z-index: 120;
    padding: 0;
    gap: 8px;
  }

  .slider-text {
    font-size: 15px;
  }

  .sign {
    height: 90%;
  }
}

@media (width < 400px) {
  .section-one {
    padding-left: 0;
    padding-right: 0;
    gap: 3rem;
    justify-content: center;
  }

  .container {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    height: 260px;
  }

  .wrapper {
    height: 210px;
  }

  .sign-holder {
    gap: 8px;
  }

  .sign {
    height: 80%;
  }

  .galery-heading {
    font-size: 25px;
  }
}

@keyframes slide-vertical {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(-100%);
  }

  20% {
    transform: translateY(-200%);
  }

  30% {
    transform: translateY(-300%);
  }

  40% {
    transform: translateY(-400%);
  }

  50% {
    transform: translateY(-500%);
  }

  60% {
    transform: translateY(-600%);
  }

  70% {
    transform: translateY(-700%);
  }

  80% {
    transform: translateY(-800%);
  }

  90% {
    transform: translateY(-900%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(-100%);
  }

  20% {
    transform: translateX(-200%);
  }

  30% {
    transform: translateX(-300%);
  }

  40% {
    transform: translateX(-400%);
  }

  50% {
    transform: translateX(-500%);
  }

  60% {
    transform: translateX(-600%);
  }

  70% {
    transform: translateX(-700%);
  }

  80% {
    transform: translateX(-800%);
  }

  90% {
    transform: translateX(-900%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Section one end */

/* Section two */

.section-two {
  width: 100%;
  padding: 5rem 2rem;
  overflow: hidden;
  position: relative;
  box-shadow: 4px 4px 15px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  /*
  background-image: url(../images/section-two-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  */
  background-color: var(--beige);
}

/*
.section-two::after {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: var(--blur);
  backdrop-filter: blur(10px);
}
*/

.location {
  font-size: 35px;
  font-weight: 500;
  font-style: italic;
  color: var(--gray-text);
  z-index: 111;
}

.map {
  width: 900px;
  height: 350px;
  display: flex;
  flex-direction: row;
  box-shadow: 3px 3px 15px 2px;
  z-index: 111;
  border-radius: 10px;
}

iframe {
  width: 50%;
  height: 100%;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.info {
  width: 50%;
  height: 100%;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--beige);
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.info-text, .time {
  font-size: 18px;
  font-style: italic;
  color: var(--gray-text);
}

.work-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 30px;
}

.time-button {
  width: 30px;
  height: 100%;
  border: 1px solid var(--gray-text);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: var(--beige);
}

.button-span {
  width: 3px;
  height: 12px;
  background-color: var(--gray-text);
  border: 1px solid var(--gray-text);
}

.bs-1 {
  transform: translateX(9px) rotate(-45deg);
}

.bs-2 {
  transform: translateX(-9px) rotate(45deg);
}

.bs-1.active {
  transform: translateX(9px) rotate(45deg);
}

.bs-2.active {
  transform: translateX(-9px) rotate(-45deg);
}

.time-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 200px;
  padding: 10px;
}

.time-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (width < 950px) {
  .map {
    width: 450px;
    height: 900px;
    flex-direction: column;
  }

  iframe {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .info {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

@media (width < 480px) {
  .section-two {
    padding: 2rem 1rem;
    gap: 2rem;
  }

  .map {
    width: 100%;
    height: 700px;
  }

  .info-text, .time {
    font-size: 16px;
  }

  .time-container {
    font-size: 16px;
  }
}

@media (width < 400px) {
  .location {
    font-size: 25px;
  }
}

/* Section two end */