:root {
  --beige: rgb(245, 245, 220);
  --gray-text: rgb(40, 40, 40);
  --black: rgb(0, 0, 0);
  --opacity-gray: rgba(255, 255, 255, 0.7);
  --white: rgb(255, 255, 255);
  --caramel: rgb(198, 142, 23);
  --beans: rgb(255, 255, 255, 0.4);
  --orange: rgb(145, 58, 0);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  padding-top: 150px;
}

@media (width < 450px) {
  body {
    padding-top: 100px;
  }
}

/* Section one */

.section-one {
  width: 100%;
  height: calc(100vh - 150px);
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.section-one::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--opacity-gray); 
}

.hero-image {
  height: 250px;
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -120%);
}

.hero-text {
  height: 200px;
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -20%);
}

.section-one-paragraph {
  font-size: 25px;
  color: var(--black);
  position: absolute;
  font-weight: 400;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 550%);
  text-align: center;
  font-style: italic;
  text-wrap: nowrap;
}

.menu-button {
  border: none;
  background-color: var(--gray-text);
  color: var(--white);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 520%);
  box-shadow: 3px 3px 10px;
  text-wrap: nowrap;
  transition: 0.2s ease;
  
}

.menu-button:hover {
  background-color: var(--caramel);
  color: var(--beige);
  box-shadow: 3px 3px 10px var(--beige);
  cursor: pointer;
}

@media (width < 600px) {
  .hero-image {
    height: 200px;
  }

  .hero-text {
    height: 100px;
  }

  .section-one-paragraph {
    font-size: 18px;
    transform: translate(-50%, 420%);
  }

  .menu-button {
    transform: translate(-50%, 350%);
  }
}

/* Section one end */

/* Section two */

.section-two {
  width: 100%;
  overflow: hidden;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  box-shadow: -2px 2px 15px;
  position: relative;
  z-index: 30;
  background-color: var(--beige);
}

.about-us {
  font-size: 35px;
  font-style: italic;
  color: var(--gray-text);
}

.about-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding: 0 5rem;
  border-radius: 30px;
}

.about-image {
  height: 350px;
  border-radius: 30px;
}

.about-text {
  font-size: 18px;
  font-style: italic;
  padding: 3rem;
}

.about-holder {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

@media (width < 1000px) {
  .section-two {
    flex-direction: column;
    justify-content: center;
  }

  .about-container {
    width: 350px;
    flex-direction: column;
    padding: 0;
    gap: 2rem;
  }

  .about2 {
    flex-direction: column-reverse;
  }

  .about-image {
    width: 100%;
    height: auto;
  }

  .about-text {
    padding: 1rem 2rem;
  }
}

@media (width < 480px) {
  .section-two {
    padding: 2rem 0;
    gap: 2rem;
  }

  .about-us {
    font-size: 30px;
  }

  .about-container {
    gap: 2rem;
    width: 100%;
  }

  .about-image {
    border-radius: 20px;
    width: 80%;
  }

  .about-text {
    font-size: 15px;
    padding: 1rem 3rem;
  }

  .about-holder {
    justify-content: center;
  }
}

/* Section two end */

/* Section three */

.section-three {
  width: 100%;
  height: calc(100vh - 150px);
  background-image: url(../images/beans.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section-three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--beans);
}

.menu-navigation {
  width: 400px;
  height: 100%;
  background-color: var(--beige);
  box-shadow: 3px 0px 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  gap: 1rem;
  position: absolute;
  left: 0;
  transition: 0.2s ease;
}

.menu-heading {
  font-size: 35px;
  color: var(--gray-text);
  font-style: italic;
}

.menu-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.product-button {
  width: 250px;
  padding: 10px 0;
  background-color: var(--gray-text);
  font-size: 20px;
  border: none;
  border-radius: 10px;
  text-wrap: wrap;
  color: var(--white);
  transition: 0.2s ease;
}

.product-button:hover {
  cursor: pointer;
  background-color: var(--caramel);
  transform: scale(1.1);
}

.menu-container {
  z-index: 10;
  width: calc(100% - 400px);
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
}

.menu {
  width: 600px;
  height: 95%;
  background-color: var(--gray-text);
  border: 8px solid var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
}

.menu-item-name {
  font-size: 30px;
  font-style: italic;
  color: var(--white);
}

.products-holder {
  width: 100%;
  height: calc(100% - 53px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.menu-item {
  width: 100%;
  height: calc(100% / 7);
  border: 1px solid var(--white);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem;
}

.name-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.name, .price {
  font-size: 20px;
  color: var(--white);
}

.item-image {
  height: 100%;
  width: auto;
  border-radius: 15px;
}

.button-appear {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: var(--beige);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  transition: 0.2s ease;
  border: 1px solid var(--gray-text);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.appear-lines {
  width: 50%;
  height: 4px;
  background-color: var(--gray-text);
  margin: 0;
  padding: 0;
}

.line-1 {
  transform: translateY(8px) rotate(45deg);
}

.line-2 {
  transform: translateY(-8px) rotate(-45deg);
}

.menu-navigation.active {
  left: 0;
  z-index: 20;
}

.button-appear.active {
  left: 250px;
  z-index: 20;
}

.line-1.active {
  transform: translateY(8px) rotate(-45deg);
}

.line-2.active {
  transform: translateY(-8px) rotate(-135deg);
}

@media (width < 1100px) {
  .menu-navigation {
    width: 250px;
  }

  .product-button {
    width: 150px;
    font-size: 16px;
  }

  .menu-container {
    width: calc(100% - 250px);
  }

  .menu {
    width: 80%;
  }

  .name, .price {
    font-size: 16px;
  }
}

@media (width < 700px) {
  .menu-navigation {
    left: -250px;
  }

  .menu-container {
    width: 100%;
  }
}

@media (width < 410px) {
  .name, .price {
    font-size: 12px;
    margin: 7px;
  }

  .menu-item-name {
    font-size: 20px;
  }

  .menu {
    padding: 5px;
    width: 100%;
  }

  .menu-item {
    padding: 0;
    
  }
}

@media (width >= 700px) {
  .button-appear {
    display: none;
  }
}

/* Section three */